.idea/
classdiagram_v1.class.violet.html
classdiadram_v2.class.violet.html
classdiadram_v3.class.violet.html
*.pyc
*.egg-info
tools/
src/gif/
src/json/
src/dontUpload/
src/wav/
src/__pycache__/
src/controller/__pycache__/
src/gameclasses/__pycache__/
src/gui/__pycache__/
src/utilclasses/__pycache__/
landkarte.dia
LostBrother.py
src/icon.ico
landkarte.dia~
landkarte_v2.dia
landkarte_v2.dia~
Dokumentation.docx
~$kumentation.docx
~WRL0005.tmp
mvc_pattern.dia
mvc_pattern.dia~
placeuebersicht.dia
